<h1>Оплата и доставка</h1>
<h2>Доставка</h2>
<ul class="delivery-list">
  <li class="delivery-list-item">
    Доставка нашего мороженого осуществляется в специальном термопаке, который
    не даёт мороженому растаять и позволяет сохранить превосходный вкус.
  </li>
  <li class="delivery-list-item">Доставляем курьером до двери</li>
  <li class="delivery-list-item">Доставка бесплатно при заказе от 2000</li>
  <li class="delivery-list-item">
    Самовывоз в главном офисе по адресу наб. реки Карповки, 5 лит П,
    Санкт-Петербург
  </li>
</ul>
<iframe
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1996.8010257037683!2d30.312217315990356!3d59.96862398188713!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696315a4bdf3f1b%3A0x1c8b299cbcd21256!2z0L3QsNCxLiDQoNC10LrQuCDQmtCw0YDQv9C-0LLQutC4!5e0!3m2!1sru!2sae!4v1648522830452!5m2!1sru!2sae"
  width="600"
  height="450"
  style="border: 0"
  allowfullscreen=""
  loading="lazy"
  referrerpolicy="no-referrer-when-downgrade"
></iframe>
<h2 class="payment-header">Способы оплаты</h2>
<ul class="payment-list">
  <li>Принимаем к оплате Visa, Visa Electron, MasterCard, Maestro</li>
  <li>Наличными курьеру либо в офисе при получении</li>
</ul>
<h2>Возврат товара</h2>
<p>Товар обмену и возврату не подлежит</p>
