<div class="container">
  <div class="social-icons">
    <a href="#">
      <img src="/assets/icons/VK.svg" alt="vk" class="social-icon">
    </a>
    <a href="#">
      <img src="/assets/icons/facebook.svg" class="social-icon">
    </a>
    <a href="#">
      <img src="/assets/icons/Instagram.svg" class="social-icon">
    </a>
  </div>
  <div class="footer-nav-wrapper">
    <i class="bi bi-heart-fill"></i>
    <nav class="footer-menu">
      <a class="footer-nav-item">Для поставщиков</a>
      <a class="footer-nav-item">Наши документы</a>
      <a class="footer-nav-item" href="">О производстве</a>
      <a class="footer-nav-item" href="">Экологические стандарты</a>
    </nav>
  </div>
  <div class="copiright">
    <span>Сделано в .html academy © 2021</span>
  </div>
</div>
