<div class="first-screen-group">
  <div class="product-text-group">
    <h1 class="product-title">Нежный пломбир с клубничным джемом</h1>
    <p class="product-description">
      Натуральное мороженое из свежих сливок и молока с вкуснейшим клубничным
      джемом <br />– это идеальный десерт для всей семьи.
    </p>
    <button class="main-button">
      <span>Заказать</span>
    </button>
  </div>
  <div class="product-slider">
    <div class="img-wrapper">
      <i class="bi bi-arrow-left-circle arrow-slider"></i>
      <div class="img-first-screen">
        <img
          src="../assets/productimg/IceCreamFirstScreenStrowberry.png"
          alt="product-photo"
        />
      </div>
      <i class="bi bi-arrow-right-circle arrow-slider"></i>
    </div>
    <div class="img-s-wrapper">
      <img
        class="img-slider-s"
        src="../assets/productimg/IceCreamFirstScreenBanana.png"
        alt=""
      />
    </div>
    <div class="img-s-wrapper">
      <img
        class="img-slider-s"
        src="../assets/productimg/IceCreamFirstScreenMarshmello.png"
      />
    </div>
  </div>
</div>
<div class="nav-first-screen-wrapper">
  <nav>
    <ul class="pagination">
      <li class="page-item-pag"><a class="" href="#">
        <img src="/assets/icons/pagination.svg" alt="">
      </a></li>
      <li class="page-item-pag transparent"><a class="" href="#">
        <img src="/assets/icons/pagination.svg" alt="">
      </a></li>
      <li class="page-item-pag transparent"><a class="" href="#">
        <img src="/assets/icons/pagination.svg" alt="">
      </a></li>
    </ul>
  </nav>
  <div class="social-icons">
    <a href="#">
      <img src="/assets/icons/VK.svg" alt="vk" class="social-icon">
    </a>
    <a href="#">
      <img src="/assets/icons/facebook.svg" class="social-icon">
    </a>
   
      <img src="/assets/icons/Instagram.svg" class="social-icon">
    
  </div>
</div>
<div class="banners">
  <h2 class="banners-title">
    Заказывайте мороженое и получайте подарки!
  </h2>
  <div class="banners-wrapper">
    <div class="banner-wrapper">
      <div class="banner-text-group">
        <h3 class="banner-title">
          Малинка даром!
        </h3>
        <p class="banner-text">
          При покупке 2 кг любого фруктового мороженого добавим в ваш заказ банку малинового варенья бесплатно.
        </p>
        <button class="main-button"><span>Хочу подарок</span></button>
      </div>
      
        <img src="/assets/productimg/bunner-photo-1.png" alt="" class="img-banner-first">
      
    </div>
    <div class="banner-wrapper">
      <div class="banner-text-group">
        <h3 class="banner-title">
          Маршмеллоу даром!
        </h3>
        <p class="banner-text">
          При покупке 2 кг пломбира добавим в ваш заказ упаковку нежных зефирок совершенно бесплатно.
        </p>
        <button class="main-button"><span>Хочу подарок</span></button>
      </div>
      
        <img src="/assets/productimg/banner-photo-2.png" alt="" class="img-banner">
      
    </div>
  </div>

</div>
<div class="seo-background">
  <div class="seo">
    <h2 class="seo-title">
      Магазин Глейси – это онлайн и офлайн-магазин по продаже мороженого
      собственного проиводства на развес
    </h2>
    <ul class="seo-list">
      
      <li class="seo-item">
        <div class="seo-img-wrapper">
          <img class="seo-icon" src="/assets/icons/ice-cream.svg" alt="">
        </div>
        <span class="seo-text">
          Всё наше мороженое изготавливается на собственном производстве с
        использованием современного оборудования и проверенных временем
        технологий.
        </span>
        
      </li>
     
      <li class="seo-item">
        <div class="seo-img-wrapper cow">
          <img class="seo-icon" src="/assets/icons/cow.svg" alt="">
        </div>
        <span class="seo-text">
          Закупка ингредиентов производится только у проверенных фермерских
        хозяйств, с которыми нас связывает долговременное сотрудничество.
        </span>
        
      </li>
     
      <li class="seo-item">
        <div class="seo-img-wrapper leaf">
          <img class="seo-icon" src="/assets/icons/leaf.svg" alt="">
        </div>
        <span class="seo-text">
          Для приготовления мороженого используются сливки и молоко высочайшего
          качества. Все ингредиенты и добавки произведены из натурального сырья.
        </span>
       
      </li>
     
      <li class="seo-item">
        <div class="seo-img-wrapper">
          <img class="seo-icon" src="/assets/icons/thermometer.svg" alt="">
        </div>
        <span class="seo-text">
          Доставка нашего мороженого осуществляется в специальном термопаке, который не даёт мороженому растаять и позволяет сохранить превосходный вкус.
        </span>
        
      </li>
    </ul>
  </div>
</div>
<app-subscription></app-subscription>
<div class="feedback-wrapper">
  <div class="feedback-background">
    <div class="feedback">
      <p class="feedback-text">
        Адрес главного офиса и офлайн-магазина:
      </p>
      <h4>
        наб. реки Карповки,<br> 5 лит П, Санкт-Петербург
      </h4>
      <p>
        Для заказов по телефону:
      </p>
      <h4>
        +7 (812) 812-12-12
      </h4>
      <p>(с 10 до 20 ежедневно)</p>
      <button class="additional-button" > Форма обратной связи</button>
    </div>
  </div>
</div>
