<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div  class="d-block w-100">
        <div class="first-screen-group">
          <div class="product-text-group">
            <h1 class="product-title">Нежный пломбир с клубничным джемом</h1>
            <p class="product-description">
              Натуральное мороженое из свежих сливок и молока с вкуснейшим клубничным
              джемом <br />– это идеальный десерт для всей семьи.
            </p>
            <button class="main-button">
              <span>Заказать</span>
            </button>
          </div>
          <div class="product-slider">
            <div class="img-wrapper">
              <i class="bi bi-arrow-left-circle arrow-slider " type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev"></i>
              <div class="img-first-screen">
                <img
                  src="../assets/productimg/IceCreamFirstScreenStrowberry.png"
                  alt="product-photo"
                />
              </div>
              <i class="bi bi-arrow-right-circle arrow-slider" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next"></i>
            </div>
            <div class="img-s-wrapper">
              <img
                class="img-slider-s"
                src="../assets/productimg/IceCreamFirstScreenBanana.png"
                alt=""
              />
            </div>
            <div class="img-s-wrapper">
              <img
                class="img-slider-s"
                src="../assets/productimg/IceCreamFirstScreenMarshmello.png"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-caption d-none d-md-block">
        
      </div>
    </div>
    <div class="carousel-item">
      <div  class="d-block w-100">
        <div class="first-screen-group">
          <div class="product-text-group">
            <h1 class="product-title">Сливочное мороженое со вкусом банана</h1>
            <p class="product-description">
              Сливочное мороженое с ярким банановым вкусом подарит вам свежесть и наслаждение даже в самый жаркий летний день. 
            </p>
            <button class="main-button">
              <span>Заказать</span>
            </button>
          </div>
          <div class="product-slider">
            <div class="img-wrapper">
              <i class="bi bi-arrow-left-circle arrow-slider " type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev"></i>
              <div class="img-first-screen">
                <img
                  src="../assets/productimg/IceCreamFirstScreenBanana.png"
                  alt="product-photo"
                />
              </div>
              <i class="bi bi-arrow-right-circle arrow-slider" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next"></i>
            </div>
            <div class="img-s-wrapper">
              <img
                class="img-slider-s"
                src="../assets/productimg/IceCreamFirstScreenMarshmello.png"
                alt=""
              />
            </div>
            <div class="img-s-wrapper">
              <img
                class="img-slider-s"
                src="../assets/productimg/IceCreamFirstScreenStrowberry.png"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div  class="d-block w-100">
        <div class="first-screen-group">
          <div class="product-text-group">
            <h1 class="product-title">Карамельный пломбир
             <br> с маршмеллоу</h1>
            <p class="product-description">
              Необычный сладкий десерт с карамельным топпингом и кусочками зефира завоюет сердца сладкоежек всех возрастов.
            </p>
            <button class="main-button">
              <span>Заказать</span>
            </button>
          </div>
          <div class="product-slider">
            <div class="img-wrapper">
              <i class="bi bi-arrow-left-circle arrow-slider " type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev"></i>
              <div class="img-first-screen">
                <img
                  src="../assets/productimg/IceCreamFirstScreenMarshmello.png"
                  alt="product-photo"
                />
              </div>
              <i class="bi bi-arrow-right-circle arrow-slider" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next"></i>
            </div>
            <div class="img-s-wrapper">
              <img
                class="img-slider-s"
                src="../assets/productimg/IceCreamFirstScreenStrowberry.png"
                alt=""
              />
            </div>
            <div class="img-s-wrapper">
              <img
                class="img-slider-s"
                src="../assets/productimg/IceCreamFirstScreenBanana.png"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="nav-first-screen-wrapper">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="social-icons">
      <a href="#">
        <img src="/assets/icons/VK.svg" alt="vk" class="social-icon" />
      </a>
      <a href="#">
        <img src="/assets/icons/facebook.svg" class="social-icon" />
      </a>
  
      <img src="/assets/icons/Instagram.svg" class="social-icon" />
    </div>
  </div>
</div>

<div class="banners">
  <h2 class="banners-title">Заказывайте мороженое и получайте подарки!</h2>
  <div class="banners-wrapper">
    <div class="banner-wrapper">
      <div class="banner-text-group">
        <h3 class="banner-title">Малинка даром!</h3>
        <p class="banner-text">
          При покупке 2 кг любого фруктового мороженого добавим в ваш заказ
          банку малинового варенья бесплатно.
        </p>
        <button class="main-button"><span>Хочу подарок</span></button>
      </div>

      <img
        src="/assets/productimg/bunner-photo-1.png"
        alt=""
        class="img-banner-first"
      />
    </div>
    <div class="banner-wrapper">
      <div class="banner-text-group">
        <h3 class="banner-title">Маршмеллоу даром!</h3>
        <p class="banner-text">
          При покупке 2 кг пломбира добавим в ваш заказ упаковку нежных зефирок
          совершенно бесплатно.
        </p>
        <button class="main-button"><span>Хочу подарок</span></button>
      </div>

      <img
        src="/assets/productimg/banner-photo-2.png"
        alt=""
        class="img-banner"
      />
    </div>
  </div>
</div>
<app-popular-products></app-popular-products>
<div class="seo-background">
  <div class="seo">
    <h2 class="seo-title">
      Магазин Глейси – это онлайн и офлайн-магазин по продаже мороженого
      собственного проиводства на развес
    </h2>
    <ul class="seo-list">
      <li class="seo-item">
        <div class="seo-img-wrapper">
          <img class="seo-icon" src="/assets/icons/ice-cream.svg" alt="" />
        </div>
        <span class="seo-text">
          Всё наше мороженое изготавливается на собственном производстве с
          использованием современного оборудования и проверенных временем
          технологий.
        </span>
      </li>

      <li class="seo-item">
        <div class="seo-img-wrapper cow">
          <img class="seo-icon" src="/assets/icons/cow.svg" alt="" />
        </div>
        <span class="seo-text">
          Закупка ингредиентов производится только у проверенных фермерских
          хозяйств, с которыми нас связывает долговременное сотрудничество.
        </span>
      </li>

      <li class="seo-item">
        <div class="seo-img-wrapper leaf">
          <img class="seo-icon" src="/assets/icons/leaf.svg" alt="" />
        </div>
        <span class="seo-text">
          Для приготовления мороженого используются сливки и молоко высочайшего
          качества. Все ингредиенты и добавки произведены из натурального сырья.
        </span>
      </li>

      <li class="seo-item">
        <div class="seo-img-wrapper">
          <img class="seo-icon" src="/assets/icons/thermometer.svg" alt="" />
        </div>
        <span class="seo-text">
          Доставка нашего мороженого осуществляется в специальном термопаке,
          который не даёт мороженому растаять и позволяет сохранить превосходный
          вкус.
        </span>
      </li>
    </ul>
  </div>
</div>
<app-subscription></app-subscription>
<div class="feedback-wrapper">
  <div class="feedback-background">
    <div class="feedback">
      <p class="feedback-text">Адрес главного офиса и офлайн-магазина:</p>
      <h4>
        наб. реки Карповки,<br />
        5 лит П, Санкт-Петербург
      </h4>
      <p>Для заказов по телефону:</p>
      <h4>+7 (812) 812-12-12</h4>
      <p>(с 10 до 20 ежедневно)</p>
      <!-- Button trigger modal -->
      <button
        type="button"
        class="additional-button"
        data-bs-toggle="modal"
        data-bs-target="#feedbackModal"
      >
        Форма обратной связи
      </button>
      <!-- Modal -->
      <div
        class="modal fade"
        id="feedbackModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body feedback-modal">
              <div class="button-cls">
                <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close">
              </button>
              </div>
              <h3>Мы обязательно ответим вам!</h3>
              <form action="" name="1" id="1">
              <label for="name"></label>
              <input type="text" 
              id="name" 
              name="name"
              class="feedback-input" 
              size="45" 
              required 
              #feedbackName="ngModel"
              placeholder="Имя и фамилия"
              [(ngModel)]="feedback.name">
              <div class="alert alert-danger" [hidden]="feedbackName.valid||feedbackName.pristine">
                Это поле обязательно
              </div>
              <label for="feedback-email"></label>
              <input 
              type="email" 
              name="feedback-email"
              id="feedback-email" 
              class="feedback-input" 
              size="45" 
              #feedbackEmail="ngModel"
              data-reg="^[-\w.]+@([A-z0-9][-A-z0-9]+\.)+[A-z]{2,4}$"
              [(ngModel)]="feedback.email"
              placeholder="email@example.com" required>
              <div class="alert alert-danger" [hidden]="feedbackEmail.valid||feedbackEmail.pristine">
                Это поле обязательно
              </div>
              <label class="text-feedback" for="text" id="text"></label>
              <textarea 
              class="feedback-input feedback-input-lg" 
              placeholder="В свободной форме" 
              name="message"
              [(ngModel)]="feedback.message" 
              required></textarea>
            </form>
              <div class="feedback-button-wrapper">
                <button type="button" class="additional-button" (click)="saveMessage()">
                  Отправить
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
